.jumbotron {
    background-image: url("https://java.codeup.com/examples/bootstrap/pizza.png");
}

.jumbotron h1 {
    opacity: .6;
    position: relative;
    margin-left: -30px;
    width: 100vw;
}

.card {
    margin: 1em;
}